

.cssmenu ul{
	margin:0;
	padding:0;
	list-style-type:none;
	width:auto;
	position:relative;
	display:block;
	height:40px;
	text-transform:uppercase;
	font-size:13px;
	background:transparent url('images/black.jpg') repeat-x top left;
	font-family:Helvetica,Arial,Verdana,sans-serif;
}
.cssmenu li{
	display:block;
	float:left;
	margin:0;
	pading:0;
	border-right:1px solid #ffffff;
	}
.cssmenu li a{
	display:block;
	float:left;
	color:#ffffff;
	text-decoration:none;
	padding:12px 20px 0 20px;
	height:24px;
	height:40px;
	}
.cssmenu li a:hover{
	background:transparent url('images/blue.jpg') repeat-x top left;	
	}
