<html>
 <%= render :partial => "layouts/adminheader" %>




<IMG id=u65 src="Resources/transparent.gif" style="position:absolute; left:0px; top:669px; width:890px; height:75px"  >

<DIV id=u67 style="position:absolute; left:207px; top:694px; width:80px; height:16px; ; ; text-align: left ; font-family:Arial; text-align:left;" >
<DIV id=u67_rtf><span style=" font-family:'Arial'; color:#000000; font-size:10pt;">Copyright ©</span></DIV></DIV>
<DIV id=u68 style="position:absolute; left:282px; top:694px; width:165px; height:16px; ; ; text-align: left ; font-family:Arial; text-align:left;" >
<DIV id=u68_rtf><span style=" font-family:'Arial'; color:#000000; font-size:10pt;">ProjectX.com 2007</span></DIV></DIV>
<span style="position:absolute; left:396px; top:693px; width:6px; height:23px; ;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/adminpage_files/u69.png',sizingMethod='scale');
"><img style="width:6px; height:23px; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);" 
src="/images/adminpage_files/u69.png" border="0" alt=""></span>

<IMG id=u69 src="Resources/transparent.gif" style="position:absolute; left:396px; top:693px; width:3px; height:20px">

<DIV id=u70 style="position:absolute; left:407px; top:694px; width:100px; height:16px; ; ; text-align: left ; font-family:Arial; text-align:left;" >
<DIV id=u70_rtf><span style=" font-family:'Arial'; color:#4096EE; font-size:10pt;">Terms of use</span></DIV></DIV>
<DIV id=u71 style="position:absolute; left:506px; top:695px; width:100px; height:16px; ; ; text-align: left ; font-family:Arial; text-align:left;" >
<DIV id=u71_rtf><span style=" font-family:'Arial'; color:#4096EE; font-size:10pt;">Privacy Policy</span></DIV></DIV>


<DIV id=u83 style="position:absolute; left:226px; top:218px; width:608px; height:32px; ; ; text-align: left ; font-family:Arial; text-align:left;" >
<DIV id=u83_rtf><span style=" font-family:'Arial'; color:#000000; font-size:10pt;">Welcome to admin page.&nbsp; Sample text which describes the details of the admin page will be displayed here.....</span></DIV></DIV>
<DIV id=u84 style="position:absolute; left:207px; top:148px; width:77px; height:22px; ; ; text-align: left ; font-family:Arial; text-align:left;" >
<DIV id=u84_rtf><span style=" font-family:'Arial'; color:#000000; font-size:14pt;"><b>Home</b></span></DIV></DIV>
<DIV id=ou85 style="position:absolute; left:5px; top:177px; width:175px; height:36px;; overflow:visible">

<span style="position:absolute; left:-3px; top:-3px; width:183px; height:44px; ;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/adminpage_files/u85.png',sizingMethod='scale');
"><img style="width:183px; height:44px; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);" 
src="/images/adminpage_files/u85.png" border="0" alt=""></span>

</DIV>
<DIV id=u85container style="position:absolute; left:5px; top:177px; width:175px; height:36px;; overflow:visible">

<DIV id=u86 style="position:absolute; left:2px; top:9.5px; width:170px; height:16px; ; ; text-align: center ; font-family:Arial; text-align:left;" >
<DIV id=u86_rtf>&nbsp;</DIV></DIV>
</DIV>
<IMG id=u85 src="Resources/transparent.gif" style="position:absolute; left:5px; top:177px; width:174px; height:35px"  >

<DIV id=u87 style="position:absolute; left:18px; top:185px; width:102px; height:18px; ; ; text-align: left ; font-family:Arial; text-align:left;" >
<DIV id=u87_rtf><span style=" font-family:'Verdana'; color:#FFFFFF; font-size:11pt;"><b>Template</b></span></DIV></DIV>
<DIV id=ou88 style="position:absolute; left:5px; top:213px; width:175px; height:178px;; overflow:visible">

<span style="position:absolute; left:-3px; top:-3px; width:183px; height:186px; ;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/adminpage_files/u88.png',sizingMethod='scale');
"><img style="width:183px; height:186px; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);" 
src="/images/adminpage_files/u88.png" border="0" alt=""></span>

</DIV>
<DIV id=u88container style="position:absolute; left:5px; top:213px; width:175px; height:178px;; overflow:visible">

<DIV id=u89 style="position:absolute; left:2px; top:80.5px; width:170px; height:16px; ; ; text-align: center ; font-family:Arial; text-align:left;" >
<DIV id=u89_rtf>&nbsp;</DIV></DIV>
</DIV>
<IMG id=u88 src="Resources/transparent.gif" style="position:absolute; left:5px; top:213px; width:174px; height:177px"  >

<DIV id=u90 style="position:absolute; left:31px; top:225px; width:80px; height:16px; ; ; text-align: left ; font-family:Arial; text-align:left;" >
<DIV id=u90_rtf><span style=" color:#333399; font-size:10pt;"><%= link_to 'Dashboard', admin_home_path %></span></DIV></DIV>
<span style="position:absolute; left:7px; top:246px; width:173px; height:5px; ;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/adminpage_files/u91.png',sizingMethod='scale');
"><img style="width:173px; height:5px; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);" 
src="/images/adminpage_files/u91.png" border="0" alt=""></span>

<IMG id=u91 src="Resources/transparent.gif" style="position:absolute; left:7px; top:245.5px; width:170px; height:2px">

<DIV id=u92 style="position:absolute; left:31px; top:256px; width:90px; height:16px; ; ; text-align: left ; font-family:Arial; text-align:left;" >
<DIV id=u92_rtf><span style=" color:#333399; font-size:10pt;"><%= link_to 'My Account', edit_admin_registration_path %></span></DIV></DIV>
<DIV id=u92ann style="font-size:1px; position:absolute; left:112px; top:252px; width:1px; height:1px; overflow:visible"></DIV>

<span style="position:absolute; left:7px; top:282px; width:173px; height:5px; ;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/adminpage_files/u93.png',sizingMethod='scale');
"><img style="width:173px; height:5px; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);" 
src="/images/adminpage_files/u93.png" border="0" alt=""></span>

<IMG id=u93 src="Resources/transparent.gif" style="position:absolute; left:7px; top:281.5px; width:170px; height:2px">

<DIV id=u94 style="position:absolute; left:33px; top:292px; width:77px; height:16px; ; ; text-align: left ; font-family:Arial; text-align:left;" >
<DIV id=u94_rtf><span style=" font-family:'Arial'; color:#333399; font-size:10pt;">Insert Staff</span></DIV></DIV>
<DIV id=u94ann style="font-size:1px; position:absolute; left:101px; top:288px; width:1px; height:1px; overflow:visible"></DIV>


<DIV id=u96 style="position:absolute; left:33px; top:326px; width:70px; height:16px; ; ; text-align: left ; font-family:Arial; text-align:left;" >
<DIV id=u96_rtf><span style=" font-family:'Arial'; color:#333399; font-size:10pt;"><%= link_to 'Insert FAQ', new_faq_path %></span></DIV></DIV>
<DIV id=u96ann style="font-size:1px; position:absolute; left:94px; top:322px; width:1px; height:1px; overflow:visible"></DIV>

<span style="position:absolute; left:7px; top:315px; width:173px; height:5px; ;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/adminpage_files/u97.png',sizingMethod='scale');
"><img style="width:173px; height:5px; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);" 
src="/images/adminpage_files/u97.png" border="0" alt=""></span>

<IMG id=u97 src="Resources/transparent.gif" style="position:absolute; left:7px; top:314.5px; width:170px; height:2px">

<span style="position:absolute; left:7px; top:349px; width:173px; height:5px; ;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/adminpage_files/u98.png',sizingMethod='scale');
"><img style="width:173px; height:5px; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);" 
src="/images/adminpage_files/u98.png" border="0" alt=""></span>

<IMG id=u98 src="Resources/transparent.gif" style="position:absolute; left:7px; top:348.5px; width:170px; height:2px">
<SCRIPT src="Resources/axurerp_pagescript.js"></SCRIPT>

