<%= render :partial => "layouts/header" %>

<DIV id=u53container style="position:absolute; left:100px; top:319px; width:641px; height:31px;; overflow:visible">
<table cellspacing=30>
  <tr>
    <th>Category List</th>
     <th></th>
    <th></th>
    <th></th>
  </tr>

<% @categories.each do |category| %>
  <tr>
    <td><%= link_to category.category_name, "/knowlwedgebase/show/#{category.id}" %></td>
    
  </tr>
<% end %>
</table>

</DIV>

<DIV id=u53container style="position:absolute; left:10px; top:119px; width:641px; height:31px;; overflow:visible">

<DIV id=u54 style="position:absolute; left:2px; top:7px; width:636px; height:16px; ; ; text-align: center ; font-family:Arial; text-align:left;" >
<DIV id=u54_rtf>&nbsp;</DIV></DIV>
</DIV>
<IMG id=u53 src="Resources/transparent.gif" style="position:absolute; left:10px; top:119px; width:640px; height:30px"  >

<DIV id=u55 style="position:absolute; left:16px; top:126px; width:70px; height:16px; ; ; text-align: left ; font-family:Arial; text-align:left;" >
<DIV id=u55_rtf><span style=" font-family:'Arial'; color:#0000FF; font-size:10pt;"><u>Support</u> &gt;</span></DIV></DIV>
<DIV id=u56 style="position:absolute; left:78px; top:127px; width:100px; height:16px; ; ; text-align: left ; font-family:Arial; text-align:left;" >
<DIV id=u56_rtf><span style=" font-family:'Arial'; color:#000000; font-size:10pt;">Knowledge base</span></DIV></DIV>
<DIV id=u57 style="position:absolute; left:9px; top:162px; width:181px; height:22px; ; ; text-align: left ; font-family:Arial; text-align:left;" >
<DIV id=u57_rtf><span style=" font-family:'Arial'; color:#000000; font-size:14pt;"><b>&nbsp; Knowledge base</b></span></DIV></DIV>
<span style="position:absolute; left:14px; top:193px; width:639px; height:5px; ;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='Knowledge Base_files/u58.png',sizingMethod='scale');
"><img style="width:639px; height:5px; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);" 
src="Knowledge Base_files/u58.png" border="0" alt=""></span>

<IMG id=u58 src="Resources/transparent.gif" style="position:absolute; left:14px; top:192.5px; width:636px; height:2px">

<DIV id=ou59 style="position:absolute; left:660px; top:114px; width:197px; height:157px;; overflow:visible">

<span style="position:absolute; left:-3px; top:-3px; width:205px; height:165px; ;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='Knowledge Base_files/u59.png',sizingMethod='scale');
"><img style="width:205px; height:165px; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);" 
src="Knowledge Base_files/u59.png" border="0" alt=""></span>

</DIV>
<DIV id=u59container style="position:absolute; left:660px; top:114px; width:197px; height:157px;; overflow:visible">

<DIV id=u60 style="position:absolute; left:2px; top:70px; width:192px; height:16px; ; ; text-align: center ; font-family:Arial; text-align:left;" >
<DIV id=u60_rtf>&nbsp;</DIV></DIV>
</DIV>
<IMG id=u59 src="Resources/transparent.gif" style="position:absolute; left:660px; top:114px; width:196px; height:156px"  >

<DIV id=ou61 style="position:absolute; left:661px; top:115px; width:194px; height:37px;; overflow:visible">

<span style="position:absolute; left:-3px; top:-3px; width:202px; height:45px; ;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='Knowledge Base_files/u61.png',sizingMethod='scale');
"><img style="width:202px; height:45px; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);" 
src="Knowledge Base_files/u61.png" border="0" alt=""></span>

</DIV>

<DIV id=u67container style="position:absolute; left:-10px; top:616px; width:891px; height:76px;; overflow:visible">

<DIV id=u68 style="position:absolute; left:2px; top:29.5px; width:886px; height:16px; ; ; text-align: center ; font-family:Arial; text-align:left;" >
<DIV id=u68_rtf>&nbsp;</DIV></DIV>
</DIV>
<IMG id=u67 src="Resources/transparent.gif" style="position:absolute; left:-10px; top:616px; width:890px; height:75px"  >

<DIV id=u69 style="position:absolute; left:197px; top:641px; width:80px; height:16px; ; ; text-align: left ; font-family:Arial; text-align:left;" >
<DIV id=u69_rtf><span style=" font-family:'Arial'; color:#000000; font-size:10pt;">Copyright@</span></DIV></DIV>
<DIV id=u70 style="position:absolute; left:272px; top:641px; width:165px; height:16px; ; ; text-align: left ; font-family:Arial; text-align:left;" >
<DIV id=u70_rtf><span style=" font-family:'Arial'; color:#000000; font-size:10pt;">ProjectX.com 2007</span></DIV></DIV>
<span style="position:absolute; left:386px; top:640px; width:6px; height:23px; ;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='Knowledge Base_files/u71.png',sizingMethod='scale');
"><img style="width:6px; height:23px; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);" 
src="Knowledge Base_files/u71.png" border="0" alt=""></span>

<IMG id=u71 src="Resources/transparent.gif" style="position:absolute; left:386px; top:640px; width:3px; height:20px">

<DIV id=u72 style="position:absolute; left:397px; top:641px; width:100px; height:16px; ; ; text-align: left ; font-family:Arial; text-align:left;" >
<DIV id=u72_rtf><span style=" font-family:'Arial'; color:#4096EE; font-size:10pt;">Terms of use</span></DIV></DIV>
<DIV id=u73 style="position:absolute; left:496px; top:642px; width:100px; height:16px; ; ; text-align: left ; font-family:Arial; text-align:left;" >
<DIV id=u73_rtf><span style=" font-family:'Arial'; color:#4096EE; font-size:10pt;">Privacy Policy</span></DIV></DIV>
<span style="position:absolute; left:483px; top:641px; width:6px; height:23px; ;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='Knowledge Base_files/u74.png',sizingMethod='scale');
"><img style="width:6px; height:23px; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);" 
src="Knowledge Base_files/u74.png" border="0" alt=""></span>

<IMG id=u74 src="Resources/transparent.gif" style="position:absolute; left:483px; top:641px; width:3px; height:20px">

<DIV id=ou75 style="position:absolute; left:10px; top:208px; width:643px; height:61px;; overflow:visible">

<span style="position:absolute; left:-3px; top:-3px; width:651px; height:69px; ;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='Knowledge Base_files/u75.png',sizingMethod='scale');
"><img style="width:651px; height:69px; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);" 
src="Knowledge Base_files/u75.png" border="0" alt=""></span>

</DIV>
<DIV id=u75container style="position:absolute; left:10px; top:208px; width:643px; height:61px;; overflow:visible">

<DIV id=u76 style="position:absolute; left:2px; top:22px; width:638px; height:16px; ; ; text-align: center ; font-family:Arial; text-align:left;" >
<DIV id=u76_rtf>&nbsp;</DIV></DIV>
</DIV>
<IMG id=u75 src="Resources/transparent.gif" style="position:absolute; left:10px; top:208px; width:642px; height:60px"  >

<DIV id=u77 style="position:absolute; left:30px; top:223px; width:620px; height:32px; ; ; text-align: left ; font-family:Arial; text-align:left;" >
<DIV id=u77_rtf><span style=" font-family:'Arial'; color:#000000; font-size:10pt;">The information in this section will help you if you have a specific problem or a technical question about using ProjectX. You can search our knowledge base for answers.</span></DIV></DIV>

<SCRIPT src="Resources/axurerp_pagescript.js"></SCRIPT>
<SCRIPT src="Knowledge Base_files/axurerp_pagespecificscript.js"></SCRIPT></BODY></HTML>
